/nbproject/private/
/public_html/.buildpath
/public_html/.project
/public_html/cache/
/mysql-slow-query.log
/scores_2018-08-17.zip
/scores_2018-08-15.zip
/scores_2018-08-16.zip
/public_html/images/icons/hires/
/public_html/hires/
/public_html/guilds/
/locale/ms_BN.zip
/locale/default.po
/locale/id_ID.zip
/locale/pt_BR.zip
/locale/README.txt
/locale/Poedit UI example.PNG
/locale/pl_PL.zip
/templates/test.tpl.php
/templates/highscores_server_info.tpl.php
/nbproject/project.xml
/nbproject/project.properties
/.gitignore
/public_html/test/
/public_html/uploads/artworks/
/public_html/uploads/photos/
/public_html/uploads/screenshots/
/public_html/uploads/themes/
/public_html/myadmin/
/public_html/myadmin/tmp/
/public_html/myadmin/tmp/twig/
/browscap.ini
/public_html/myadmin/tmp/
